<!doctype html>
<html lang="en" ng-app="Twitter">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' href='./css/main.css' />

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.7.6/angular-resource.min.js"></script>
	<script src="https://code.angularjs.org/1.7.6/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="//platform.twitter.com/widgets.js"></script>
	<script src="/javascripts/TweetList.js"></script>

</head>
<body>

	<!-- elemen root dari view menugaskan controller TweetList -->
	<div ng-controller="TweetList">

		<div class="row">
			<div class="col-lg-12">
				<h1><img id="twitter-logo" src="images/Twitter_logo_white.png" /><%= title %></h1>
			</div>
		</div>

		<div id="search-container" class="row">
			<div class="col-lg-3">

				<!-- Form akan men-trigger fungsi getTweets pada controller javascript controller ketika disubmit -->
				<form class="input-group" ng-submit="getTweets()" >
					<div class="input-group-prepend">	
	  			 		<span class="input-group-text" id="basic-addon1">@</span>
	  				</div>

					<!-- input teks ini diikat ke variabel di controller javascript -->
				  	<input type="text" class="form-control" placeholder="teesIndonesia" ng-model="username">

					<div class="input-group-append">
		        		<button class="btn input-group-text " type="submit">Get Tweets</button>
		      		</div>
			  </form>

   		</div>
		</div>

		<div class="row clearfix">
			<div class="col-lg-12">

		    	<div id="tweet-list">

		    		<!-- div ini akan mengulang setiap object tweet dalam array menggunakan template-expanding directive -->
		    		<div ng-repeat="tweet in tweetsResult" class="tweet-item">

		    			<!-- sanitized HTML binding -->
							<div ng-bind-html="tweet.oEmbed.html"></div>

							<!-- binding to Tweet source property -->
							<div class="tweet-details">
								Tweeted from <span ng-bind-html="tweet.source"></span>
							</div>
		    		</div>

		    	</div>

		  </div>
  	</div>

		<div class="row">
			<div class="col-lg-12">

				<!--tombol ini akan men-trigger fungsi getMoreTweets dalam controller javascript -->
		  	<button type="button" class="btn btn-light btn-default btn-sm" ng-click="getMoreTweets()">Load More</button>

	  	</div>
	  </div>

	</div>

</body>
</html>
